@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

.container {
    margin: 0 auto;
    max-width: 960px;
    margin-bottom: 50px;
}

.page-cover {
    margin-bottom: 600px !important;
}

.page-cover-spacer {
    height: 400px !important;
}

.panel-default {
    border-color: #A1C0D7;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #EBF4FB;
    border-color: #A1C0D7;
}

.panel-info {
    border-color: #DEE1E6;
}

.panel-info > .panel-heading {
    color: #333;
    background-color: #DEE1E6;
    border-color: #DEE1E6;
}

.panel-body {
    border-radius: inherit;
}

.severity {
    font-size: 100%;
}

.severity- {
    color: black !important;
}

.severity-Info {
    background-color: #888888;
}

.severity-Low {
    background-color: #337ab7;
}

.severity-Medium {
    background-color: #FBE413;
    color: black;
}

.severity-High {
    background-color: #f09835;
}

.severity-Critical {
    background-color: #d9534f;
}

.panel-heading {
    padding: 1px 5px;
}

.page-cover {
    page-break-after: always
}

.report-page-break {
    border: 0;
    height: 0px;
    page-break-after: always;
}

.keep-together {
    page-break-inside: avoid
}

#findings, #executive {
    page-break-before: always;
}

.graph {
    height: 250px;
    width: 418px;
}

.graph-2x {
    height: 250px;
    width: 898px;
}


.panel-heading h6 {
    border-bottom: 0;
    padding-bottom: 0;
}

div.pretty-graphs, .panel, .panel-body {
    page-break-inside: avoid;
}

.flot-tick-label.tickLabel {
    font-size: 11px;
}

.panel-warning .panel-heading h4 {
    color: black;
}

b {
    font-weight: 900 !important;
    color: black;
}

.finding-title {
    padding: 10px;
}

.finding-title h5 {
    font-size: 30px;
    text-decoration: none;
}
.finding-title h5:hover {
    text-decoration: none;
}

.finding-title span .label.severity {
    color: black;
}

.finding-title sup {
    top: -0.35em !important;
    font-weight: 100;
}

h6 {
    font-size: 22px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

pre {
    background-color:#fafafa;
}

pre * {
    -webkit-margin-after: 0em;
    white-space: normal;
}

pre h1 {
    font-size: 20px;
}

pre a {
    text-decoration: underline !important;
}

pre ul {
    margin: 0 0 !important;
}

pre ol {
    margin: 0 0 !important;
}

pre code {
    margin-top: -25px;
    margin-bottom: -25px !important;
    background-color: lightgray;
    color: black;
    border-radius: 0.3em;
    padding: 2px 5px;
}

pre.codehilite {
    background: darkslategrey !important;
    padding: 15px !important;
    max-width: fit-content;
}

pre.codehilite code {
    background-color: darkslategrey;
    color: white;
    border-radius: 0.3em;
    padding: 0px;
}
