{% extends "report_base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{{ report_name }}</title>
    <link href="{% static "bootswatch/readable/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "dojo/css/template.css" %}" rel="stylesheet" type="text/css">
{% block content %}
    {{ block.super }}
    <div class="container" id="html_report">
        {% for widget in widgets %}
            {{ widget.get_html }}
        {% endfor %}
    </div>
{% endblock %}

